body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font:16px Helvetica, sans-serif;
}

.centering {
    width: 1000px;
    line-height: 25px;
}

.centering p img {
    height: 350px;
    float: right;
    padding-left: 15px;
}
